.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}

body{
    background-color: wheat;
}

#finalScore{
    background-color: white;
    color: blue;
}

#restart{
color: blue;
background-color: white;
}

#home{
    place-items: center;
}